.snippet-wrap ol.snippet-num > li:before {
	border-right: 1px solid #EEE;
}

.sh_print .sh_sourceCode {
	background-color: #fff;
	color: #000;
}

.sh_print .sh_sourceCode .sh_keyword {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_type {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_string {
	color: #000;
}

.sh_print .sh_sourceCode .sh_regexp {
	color: #000;
}

.sh_print .sh_sourceCode .sh_specialchar {
	color: #000;
}

.sh_print .sh_sourceCode .sh_comment {
	color: #666;
	font-style: italic;
}

.sh_print .sh_sourceCode .sh_number {
	color: #000;
}

.sh_print .sh_sourceCode .sh_preproc {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_symbol {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_cbracket {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_url {
	color: #000;
}

.sh_print .sh_sourceCode .sh_date {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_time {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_file {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_ip {
	color: #000;
}

.sh_print .sh_sourceCode .sh_name {
	color: #000;
}

.sh_print .sh_sourceCode .sh_variable {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_oldfile {
	color: #000;
}

.sh_print .sh_sourceCode .sh_newfile {
	color: #000;
}

.sh_print .sh_sourceCode .sh_difflines {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_selector {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_property {
	color: #000;
	font-weight: bold;
}

.sh_print .sh_sourceCode .sh_value {
	color: #000;
}